* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  outline: none;
}

.addbook {
  height: 30px;
  width: 100px;
  cursor: pointer;
  margin-bottom: 5px;
  border: none;
  background-color: #45413f;
  border-radius: 2px;
  color: #efede5;
}

#submit,
.closeForm {
  height: 30px;
  width: 100px;
  cursor: pointer;
  border: none;
  margin-right: 20px;
  background-color: #8288ae;
  border-radius: 2px;
  color: #efede5;
}

.addbook:hover,
.closeForm:hover,
#submit:hover {
  border-radius: 5px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

.form {
  border-radius: 4px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.bookName,
.author,
.pages,
.read,
.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  position: relative;
}

.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#book {
  margin-left: 7.5px;
}

#author {
  margin-left: 75px;
}

#pages {
  margin-left: 140px;
}

input[type="text"],
input[type="number"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #d6d2db;
  background-color: #efede5;
  outline: none;
  border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0 5px 0;
}

.read input#read {
  padding: 50px;
}

label.box {
  padding-right: 5px;
}

.submit {
  margin-bottom: 5px;
}

.buttons {
  margin: 5px;
  padding: 5px;
  background-color: #cbcdd4;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.textColor {
  color: #efede5;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards {
  height: 40vh;
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newDiv {
  width: 12vw;
  min-width: 40px;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 5px;
  border-radius: 3px 0.5px 0.5px 3px;
  padding: 5px;
  border: 2px outset #c7c6c6;
}

.newDiv:hover {
  -webkit-transform: translate(0, -10px) skew(-3deg, 3deg) scale(1.1);
          transform: translate(0, -10px) skew(-3deg, 3deg) scale(1.1);
  cursor: pointer;
}

.buttonsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bookshelf {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: -1;
  position: relative;
  height: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 16px solid #f3f3f3;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  pointer-events: all;
}

.bookshelf::before {
  content: "";
  position: absolute;
  top: 16px;
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#ffffff));
  background: linear-gradient(90deg, #fafafa 0%, #ffffff 100%);
  height: 26px;
  width: calc(100% + 40px);
  -webkit-box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.05), 0px 4px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.05), 0px 4px 16px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.bookshelf::after {
  content: "";
  height: 80px;
  width: calc(100% + 40px);
  position: absolute;
  top: 42px;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 3% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 3% 100%);
  z-index: -1;
}

.autocomplete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 7.5px;
  white-space: pre;
  position: absolute;
  z-index: 1;
  font-size: 14px;
}

.elements {
  background-color: #f2f2f2;
  border-right: 2px solid #efede5;
  border-left: 2px solid #efede5;
  border-top: 1px solid #efede5;
  border-bottom: 1px solid #efede5;
  cursor: pointer;
}

.elements:hover {
  background-color: #8288ae;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #efede5;
  font-size: 15px;
}

.readDiv {
  width: 30%;
  height: 50%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.readOne {
  width: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.readTwo {
  background-image: url("./paper.jpg");
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */