* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  outline: none;
}

.addbook {
  height: 30px;
  width: 100px;
  cursor: pointer;
  margin-bottom: 5px;
  border: none;
  background-color: #45413f;
  border-radius: 2px;
  color: #efede5;
}

#submit,
.closeForm {
  height: 30px;
  width: 100px;
  cursor: pointer;
  border: none;
  margin-right: 20px;
  background-color: #8288ae;
  border-radius: 2px;
  color: #efede5;
}

.addbook:hover,
.closeForm:hover,
#submit:hover {
  border-radius: 5px;
  transform: scale(1.1);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92vh;
  justify-content: space-between;
  padding: 50px;
}

.form {
  border-radius: 4px;
  align-self: center;
  justify-self: center;
}

.bookName,
.author,
.pages,
.read,
.submit {
  display: flex;
  margin-bottom: 5px;
  position: relative;
}

.submit {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
}

#book {
  margin-left: 7.5px;
}
#author {
  margin-left: 75px;
}

#pages {
  margin-left: 140px;
}

input[type="text"],
input[type="number"] {
  box-sizing: border-box;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #d6d2db;
  background-color: #efede5;
  outline: none;
  border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.read {
  display: flex;
  margin: 5px 0 5px 0;
}

.read input#read {
  padding: 50px;
}

label.box {
  padding-right: 5px;
}

.submit {
  margin-bottom: 5px;
}

.buttons {
  margin: 5px;
  padding: 5px;
  background-color: #cbcdd4;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.textColor {
  color: #efede5;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  height: 40vh;
  width: 85vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.divHolder {
  width: 16vw;
  height: 40vh;
  background: #45413f;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.newDiv {
  width: 12vw;
  min-width: 40px;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-right: 5px;
  border-radius: 3px 0.5px 0.5px 3px;
  padding: 5px;
  border: 2px outset rgb(199, 198, 198);
}

.newDiv:hover {
  transform: translate(0, -10px) skew(-3deg, 3deg) scale(1.1);
  cursor: pointer;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

//bookshelf code - https://codepen.io/ekfuhrmann/pen/OJmRVPj
.bookshelf {
  // bookshelf top
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  z-index: -1;
  position: relative;
  height: 0px;
  box-sizing: border-box;
  border-bottom: 16px solid #f3f3f3;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  pointer-events: all;

  // bookshelf front-side
  &::before {
    content: "";
    position: absolute;
    top: 16px;
    background: linear-gradient(90deg, #fafafa 0%, #ffffff 100%);
    height: 26px;
    width: calc(100% + 40px);
    box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.05),
      0px 4px 16px rgba(0, 0, 0, 0.25);
    z-index: 2;
  }

  // bookshelf drop-shadow
  &::after {
    content: "";
    height: 80px;
    width: calc(100% + 40px);
    position: absolute;
    top: 42px;
    display: block;
    background: linear-gradient(
      180deg,
      #f3f3f3 0%,
      rgba(255, 255, 255, 0) 100%
    );
    clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 3% 100%);
    z-index: -1;
  }
}

.autocomplete {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  margin-left: 7.5px;
  white-space: pre;
  position: absolute;
  z-index: 1;
  font-size: 14px;
  background-color: #f2f2f2;
}

.elements {
  border-right: 2px solid #efede5;
  border-left: 2px solid #efede5;
  border-top: 1px solid #efede5;
  border-bottom: 1px solid #efede5;
  cursor: pointer;
}

.elements:hover {
  background-color: #8288ae;
  transform: scale(1.05);
  color: #efede5;
  font-size: 15px;
}

.arrowElements {
  background-color: #8288ae;
  transform: scale(1.05);
  color: #efede5;
  font-size: 15px;
}
